.bg-heder{
    background-color: #a8dadc;
}
.color-a{
    color: #1d3557;
    font-weight: 700;
}
.clear-fix{
    clear: both;
}
.a-hover:hover{
    color: #f1faee;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #1d3557;
}
.text-line{
    font-size: 25px;
    color: #000;
    position: relative;
    padding-bottom: 15px!important;
    margin-bottom: 35px;
}
.text-line::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    bottom: 0;
}
.text-line::after{
    content: '';
    width: 80px;
    height: 5px;
    background-color: darkorange;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: +1;
}
.dropdown-menu , .show{
    inset: 18px 18px auto auto!important;
}
.dropdown-menu{
    background-color: #a8dadc!important;
}
.bg-phone{
    background-image: url(../Image/phon-1.png);
    background-repeat: no-repeat!important;
    position: relative;
    /* left: 12%; */
    top: 10%;
    height: 100%;
    width: 100%;
}
.padding-img{
    padding: 0px 10%!important;
}
.h-450{
    height: 450px;
}
.h-350{
    height: 350px;
}
.heder-content-left>h1>span{
    color: darkorange;
}
.heder-content-left>h1{
    font-weight: 700;
}
.heder-content-left>p>span{
    color: darkorange;
}
.heder-content-left>p{
    color: #858585;
    font-weight: 300;
}
.input-w-75{
    width: calc(75% - 10px);
}
.input-email{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #1d3557;
}
.input-email:hover{
    box-shadow: 1px 1px 3px 1px darkorange;
}   
.button-a{
    border: 1px solid rgb(255, 123, 0);
    background-color: darkorange;
    box-shadow: 1px 1px 3px #1d3557;
}
.button-a:hover{
    box-shadow: 1px 1px 3px 1px darkorange;
}
.menu-ul{
    display: none;
    float: none;
    width: 100%;
    list-style: none;
}
.menu-li-a{
    text-decoration: none;
    color: black!important;
    font-family: monospace;
    margin: 0px auto;
    font-size: 14px;

}
.btn-burger{
    float: left;
    display: none;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border: none;
    font-weight: 700!important;
    font-size: 15px;
}

@media (max-width: 991.98px){
    .section-text{
        float: none!important;
        width: 100%!important;
    }
    .section-img{

        float: none!important;
        width: 100%!important;
    }
    .padding-img{
        padding: 0px 20%!important;
    }
    .bg-phone{
        top: 0px;
        left: 20%;
    }
    .btn-burger{
        display: inline-block;
    }
    .menu-frst{
        display: none!important;
    }
    .menu-ul{
        display: none;
        float: none;
        width: 100%;
        padding: 0px;
    }
    .menu-li{
        display: block;
        float: none;
        width: 100%;
        padding: 5px!important;
        border-bottom: 1px solid #cecece;
    }
    .show{
        display: inline-block!important;
    }
    .cont-col2{
        padding-top: 15px;
    }
        
}
@media(max-width: 767.98px){
    .btn-burger{
        float: left!important;
        width: 50%!important;
        left: 0;
        text-align: left;
    }
    .heder-icon{
        float: right!important;
        width: 50%!important;
        right: 0;
    }
    .heder-logo{
        float: none!important;
        width: 100%!important;
        text-align: center;
    }
}
@media(max-width: 575.98px){
    .bg-phone{
        left: 20%;
        top: 0;
        text-align: center!important;
    }
    .padding-img{
        padding: 0px 0px!important;
    }
}
@media(max-width: 377.98px){
    .bg-phone{
        left: 12%;
    }
}
.cont-2-h1{
    font-weight: 700;
    color: #5C2E7E!important;
}
.cont-3-h3{
    font-weight: 700;
}
.cont-3-img{
    width: 100%;
    height: 350px;
}
.cont-3-btn{
    color: wheat;
    border: 1px solid rgb(255, 123, 0);
    background-color: darkorange;
    box-shadow: 1px 1px 3px #1d3557;
}
.cont-3-from{
    position: absolute;
    left: 0;
    bottom: 0;
}